body
{
    font: 13px Arial;
    margin: 0;
}

/* common */

.button,
.checkbox,
.radiobox,
.listbox
{
    display: inline-block;
    outline: none;
    white-space: nowrap;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.button,
.checkbox,
.radiobox,
.listbox .option
{
    cursor: pointer;
}
.button,
.checkbox .box,
.radiobox .box,
.listbox .box,
.textbox .box
{
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

/* hover */

.button:hover,
.checkbox:hover .box,
.radiobox:hover .box,
.listbox:hover .box,
.textbox:hover .box
{
    border-color: rgba(0, 0, 0, 0.3);
}

/* focus */

.button:focus,
.checkbox:focus .box,
.radiobox:focus .box,
.listbox:focus .box,
.textbox .box:focus
{
    border-color: #ffdb4d;
}
.button:focus,
.checkbox:focus .box,
.radiobox:focus .box,
.textbox .box:focus
{
    box-shadow: inset 0 0 0 1px #ffdb4d;
}

/* active */

.button:active,
.button.active,
.checkbox:active .box,
.checkbox.active .box,
.radiobox:active .box,
.radiobox.active .box
{
    background: #f3f1ed;
}

/* pressed/checked/selected */

.button[aria-pressed=true],
.button[aria-checked=true],
.checkbox[aria-checked=true] .box,
.radiobox[aria-checked=true] .box,
.listbox:focus .option[aria-selected=true],
.listbox:hover .option[aria-selected=true]:hover
{
    background: #ffeba0;
}

/* pressed/checked/selected + active */

.button[aria-pressed=true]:active,
.button[aria-pressed=true].active,
.button[aria-checked=true]:active,
.button[aria-checked=true].active,
.checkbox[aria-checked=true]:active .box,
.checkbox[aria-checked=true].active .box,
.radiobox[aria-checked=true]:active .box,
.radiobox[aria-checked=true].active .box,
.listbox:focus .option[aria-selected=true]:active,
.listbox:focus .option[aria-selected=true].active
{
    background: #fee481;
}

/* disabled */

.button[aria-disabled=true],
.checkbox[aria-disabled=true],
.radiobox[aria-disabled=true],
.radiogroup[aria-disabled=true],
.radiogroup[aria-disabled=true] .radiobox,
.listbox[aria-disabled=true],
.listbox[aria-disabled=true] .option,
.textbox.disabled,
.textbox .box:disabled
{
    cursor: default;
    color: rgba(0, 0, 0, 0.5);
}
.button[aria-disabled=true],
.checkbox[aria-disabled=true] .box,
.radiobox[aria-disabled=true] .box,
.radiogroup[aria-disabled=true] .radiobox .box,
.listbox[aria-disabled=true] .box,
.textbox .box:disabled
{
    background: rgba(0, 0, 0, 0.08);
    border-color: transparent;
}

/* pressed/checked/selected + disabled */

.button[aria-pressed=true][aria-disabled=true],
.checkbox[aria-checked=true][aria-disabled=true] .box,
.radiobox[aria-checked=true][aria-disabled=true] .box,
.radiogroup[aria-disabled=true] .radiobox[aria-checked=true] .box
{
    background: rgba(0, 0, 0, 0.15);
    border-color: transparent;
}
.checkbox[aria-checked=true][aria-disabled=true] .box::before,
.radiobox[aria-checked=true][aria-disabled=true] .box::before,
.radiogroup[aria-disabled=true] .radiobox[aria-checked=true] .box::before,
.listbox[aria-disabled=true] .option[aria-checked=true]::before
{
    opacity: 0.4;
}

/* link */

.link
{
    color: #04b;
    border-radius: 1px;
}
.link:not(:focus):not(:hover)
{
    text-decoration: none;
}
.link:focus
{
    box-shadow: 0 0 0 2px #ffdb4d;
    outline: none;
}
.link:hover
{
    color: #c00;
    cursor: pointer;
}

/* external link */

.link[rel~=external]:not(:hover)
{
    color: #070;
}

/* button, checkbox, radiobox */

.button,
.checkbox .box
{
    border-radius: 3px;
}

.checkbox .box,
.radiobox .box
{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 6px;
    position: relative;
    vertical-align: top;
}

/* button */

.button
{
    padding: 5px 12px;
}

/* mixes */

.button.link:focus
{
    box-shadow: inset 0 0 0 1px #ffdb4d;
}

/* checkbox */

.checkbox[aria-checked=true] .box::before
{
    content: url(checkbox-tick.svg);
    position: absolute;
    top: -6px;
    left: 1px;
}

/* radiogroup, radiobox */

.radiogroup
{
    display: inline-block;
}
.radiogroup .radiobox
{
    margin-right: 10px;
}
.radiogroup .radiobox .box
{
    border-radius: 7px;
}
.radiogroup .radiobox[aria-checked=true] .box::before
{
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background: #000;
    position: absolute;
    top: 3px;
    left: 3px;
}

/* listbox, option */

.listbox .box
{
    display: block;
    padding: 4px 0;
}
.listbox:focus .box
{
    box-shadow: 0 0 0 1px #ffdb4d;
}

.listbox .option
{
    display: block;
    position: relative;
    height: 24px;
    padding: 0 30px;
    line-height: 25px;
}
.listbox .option[aria-checked=true]::before
{
    content: url(checkmark.svg);
    position: absolute;
    top: 2px;
    left: 10px;
}

/* textbox */

.textbox
{
    display: inline-block;
}
.textbox .box
{
    font: 13px Arial;
    padding: 5px 8px;
}

/* buttongroup */

.buttongroup
{
    display: inline-block;
}
.buttongroup .button:not(:focus):not(:last-of-type)
{
    border-right-width: 0;
}
.buttongroup .button:focus + .button
{
    border-left-width: 0;
}
.buttongroup .button[aria-checked=true] + .button:not(:focus):not(:hover)
{
    border-left-color: rgba(153, 122, 0, 0.5);
}
.buttongroup:hover .button:hover + .button:not(:focus)
{
    border-left-color: rgba(0, 0, 0, 0.3);
}
.buttongroup .button:not(:first-of-type)
{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.buttongroup .button:not(:last-of-type)
{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

/* label */

.radiogroup .label,
.listbox .label,
.textbox .label,
.buttongroup .label
{
    display: block;
    margin-bottom: 5px;
    cursor: default;
}
