body
{
    font: 13px Arial;
    margin: 0;
}

/* widget */

.button,
.checkbox
{
    display: inline-block;
    cursor: pointer;
    outline: 0;
    white-space: nowrap;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.button,
.checkbox .box
{
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}
.button:hover,
.checkbox:hover .box
{
    border-color: rgba(0, 0, 0, 0.3);
}
.button:focus,
.checkbox:focus .box
{
    border-color: #ffdb4d;
    box-shadow: inset 0 0 0 1px #ffdb4d;
}
.button:active,
.button.active,
.checkbox:active .box,
.checkbox.active .box
{
    background: #f3f1ed;
}

/* pressed/checked */

.button[aria-pressed=true],
.checkbox[aria-checked=true] .box
{
    background: #ffeba0;
    border-color: rgba(153, 122, 0, 0.5);
}
.button[aria-pressed=true]:hover,
.checkbox[aria-checked=true]:hover .box
{
    border-color: rgba(129, 103, 0, 0.6);
}
.button[aria-pressed=true]:active,
.button[aria-pressed=true].active,
.checkbox[aria-checked=true]:active .box,
.checkbox[aria-checked=true].active .box
{
    background: #fee481;
}

/* disabled */

.button[aria-disabled=true],
.checkbox[aria-disabled=true]
{
    cursor: default;
    color: rgba(0, 0, 0, 0.5);
}
.button[aria-disabled=true],
.checkbox[aria-disabled=true] .box
{
    background: rgba(0, 0, 0, 0.08);
    border-color: transparent;
}
.button[aria-pressed=true][aria-disabled=true],
.checkbox[aria-checked=true][aria-disabled=true] .box
{
    background: rgba(0, 0, 0, 0.15);
    border-color: transparent;
}
.checkbox[aria-checked=true][aria-disabled=true] .box::before
{
    opacity: 0.4;
}

/* button */

.button
{
    padding: 5px 12px;
}

/* checkbox */

.checkbox .box
{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 6px;
    position: relative;
    vertical-align: top;
}
.checkbox[aria-checked=true] .box::before
{
    content: url(checkbox-tick.svg);
    position: absolute;
    top: -6px;
    left: 1px;
}
