<!doctype html>

<meta charset=utf-8>
<meta name=viewport content="width=device-width,maximum-scale=1,initial-scale=1,user-scalable=0">

<title>Dialog</title>

<script src=role.js></script>
<script src=ARIAButton.js></script>
<script src=ARIACheckBox.js></script>
<!--<script src=ARIARadioGroup.js></script>-->

<link rel=stylesheet href=common.css>

<style>
    body
    {
        margin: 20px;
    }
    h1
    {
        font-size: 20px;
        margin-top: 0;
        margin-bottom: 20px;
    }
    p
    {
        margin-bottom: 20px;
    }
    p:last-of-type
    {
        margin-bottom: 0;
    }
</style>
<style>
    .dialog
    {
        position: absolute;
        background: #fff;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.06), 0 10px 20px -5px rgba(0, 0, 0, 0.4);
        padding: 20px;
        margin-top: 8px;
    }
</style>
<script>
    Object.defineProperty(ARIAButton.prototype, 'haspopup', {
        enumerable : true,
        get : function() {
            return this.element.getAttribute('aria-haspopup') || '';
        }
    });

    Object.defineProperty(ARIAButton.prototype, 'dialog', {
        enumerable : true,
        get : function() {
            return ARIADialog.getDialog(this.element.nextElementSibling);
        }
    });

    Object.defineProperty(ARIAButton.prototype, 'expanded', {
        enumerable : true,
        get : function() {
            return this.element.getAttribute('aria-expanded') || '';
        },
        set : function(value) {
            var expanded = String(value),
                element = this.element;

            element.setAttribute('aria-expanded', expanded);
            if(this.dialog) {
                this.dialog.trigger = expanded === 'true'? this : null;
                this.dialog.hidden = expanded === 'false';
            }
        }
    });

    Object.defineProperty(ARIAButton.prototype, 'controls', {
        enumerable : true,
        get : function() {
            return this.element.getAttribute('aria-controls') || '';
        },
        set : function(value) {
            this.element.setAttribute('aria-controls', String(value));
        }
    });

    ARIAButton.prototype.focus = function() {
        this.element.focus();
    }

    document.addEventListener('click', function(event) {
        var button = ARIAButton.getButton(event.target);
        if(button && button.haspopup === 'true' && button.expanded) {
            button.expanded = button.expanded === 'true'? 'false' : 'true';
        }
    }, true);
</script>
<script>
    function ARIARoleType(element) {
        element.aria = this;
        this.element = element;
    }

    ARIARoleType.prototype.getInstance = function() {

    }

    function ARIADialog(element) {
        ARIARoleType.call(this, element);

        element.addEventListener('keydown', this.onKeyDown.bind(this));
    }

    ARIADialog.prototype.trigger = null;

    Object.defineProperty(ARIADialog.prototype, 'hidden', {
        enumerable : true,
        get : function() {
            return String(this.element.getAttribute('hidden') || '');
        },
        set : function(value) {
            var hidden = String(value);

            this.element.hidden = hidden === 'true';
        }
    });

    ARIADialog.prototype.onKeyDown = function(event) {
        var keyCode = event.keyCode;

        if(keyCode === 27) this.onEscapeKeyDown(event);
    }

    ARIADialog.prototype.onEscapeKeyDown = function(event) {
        var trigger = this.trigger;
        if(trigger) {
            trigger.expanded = 'false';
            trigger.focus();
        } else {
            this.hidden = true;
        }
    }

    ARIADialog.role = 'dialog';

    ARIADialog.getDialog = function(element) {
        return element.role === this.role?
            element.aria || new this(element) :
            null;
    }
</script>
<span role=button tabindex=0 aria-haspopup=true aria-expanded=false class=button>Show dialog</span>
<div role=dialog class=dialog hidden>
    <h1>Dialog</h1>
    <p>
        <label class=textbox>
            <span class=label>Text box</span>
            <input autocomplete=off class=box>
        </label>
    </p>
    <p>
        <span role=checkbox tabindex=0 class=checkbox>
            <span class=box></span>Check box
        </span>
        <!--<span role=radiogroup class=radiogroup>
            <span class=label>Radio group</span>
            <span role=radio tabindex=0 class=radiobox>
                <span class=box></span>First
            </span>
            <span role=radio tabindex=-1 class=radiobox>
                <span class=box></span>Second
            </span>
        </span>-->
    </p>
    <p>
        <span role=button tabindex=0 class=button>Submit button</span>
    </p>
</div>

