<!doctype html>
<html>
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,maximum-scale=1,initial-scale=1,user-scalable=0">

    <title>ARIADOM: Yandex style</title>

    <script src=role.js></script>
    <script src=ARIAButton.js></script>
    <script src=ARIACheckbox.js></script>

    <link rel=stylesheet href=common.css>
    <link rel=stylesheet href=link.css>
    <style>
        section
        {
            display: inline-block;
            padding: 0 20px;
            margin-right: 100px;
            vertical-align: top;
        }
    </style>
</head>
<body>
    <section>
        <h1>Link</h1>
        <p>
            <a href=//yandex.ru class=link>Simple</a>
        </p>
        <p>
            <a href=//google.ru rel=external class=link>External</a>
        </p>
    </section>
    <section>
        <h1>Button</h1>
        <p>
            <span role=button tabindex=0 class=button>Simple</span>
        </p>
        <p>
            <span role=button tabindex=0 aria-pressed=true class=button>Pressed toggle button</span>
        </p>
        <p>
            <span role=button aria-disabled=true class=button>Disabled</span>
        </p>
        <p>
            <span role=button aria-disabled=true aria-pressed=true class=button>Pressed disabled toggle button</span>
        </p>
    </section>
    <section>
        <h1>Check box</h1>
        <p>
            <span role=checkbox tabindex=0 data-name=checkbox data-value=on class=checkbox>
                <span class=box></span>Simple
            </span>
        </p>
        <p>
            <span role=checkbox tabindex=0 aria-checked=true class=checkbox>
                <span class=box></span>Checked
                <input type=hidden name=checkbox-checked value=on>
            </span>
        </p>
        <p>
            <span role=checkbox aria-disabled=true data-name=checkbox-disabled data-value=on class=checkbox>
                <span class=box></span>Disabled
            </span>
        </p>
        <p>
            <span role=checkbox aria-disabled=true aria-checked=true class=checkbox>
                <span class=box></span>Checked disabled
                <input type=hidden name=checkbox-checked-disabled value=on disabled>
            </span>
        </p>
    </section>
</body>
</html>
