.link
{
    color: #04b;
    text-decoration: none;
    cursor: pointer;
}
.link:focus
{
    outline: none;
    text-decoration: underline;
}
.link:hover
{
    color: #c00;
}

.link[rel~=external]:not(:hover)
{
    color: #070;
}

/* mixes */

[role=button].link:focus
{
    text-decoration: none;
    color: #c00;
}
