.link
{
    color: #04b;
    cursor: pointer;
    outline: none;
    border-radius: 1px;
}
.link:not(:focus):not(:hover)
{
    text-decoration: none;
}
.link:focus
{
    box-shadow: 0 0 0 2px #ffdb4d;
}
.link:hover
{
    color: #c00;
}

/* external */

.link[rel~=external]:not(:hover)
{
    color: #070;
}

/* mixes */

[role=button].link:focus
{
    text-decoration: none;
}
.button.link:focus
{
    box-shadow: inset 0 0 0 1px #ffdb4d;
    border-radius: 3px;
}
